@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(https://fonts.googleapis.com/css?family=Lilita+One);
html, body {
  height: 100%;
  width: 100%;
  background-color: black;
}
.container {
  text-align: center;
}
img {
  border: 1px solid black;
  margin-top: 90px;
  margin-bottom: 20px;
  width: 150px;
  height: auto;
  text-align: center;
}
.validation {
  background-color: green;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.validation i {
  display: inline;
/*  float:left; */
  color: white;
  font-size: 30px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
}
.validation h1 {
  display: inline;
  color: white;
  vertical-align: middle;
  margin: auto;
  font-size: 20px;
}
.description {
  text-align: center;
  margin: auto;
  width: 350px;
  color: rgba(255, 255, 255, 0.8);
}
header {
  width: 100%;
  text-align: center;
  line-height: 50px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  color: #5FE52C;
}
header img {
  height: 50px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  position:absolute;
  top:10px;
  left: 10px;

}
header h1{
    padding-top:20px;
    display: inline-block;
    margin: auto;
    font-size: 40px;
    display: inline-flex;
    vertical-align: baseline;


}

header h1 .bio {
  font-family: 'Lilita One', cursive;
}

header h1 .scan{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    padding-top: 10px;

}

footer {
  width: 100%;
  text-align: center;
  line-height: 30px;
  background-color: #5FE52C;
  position: relative;
  top: 10px;
  left: 0;
}
footer a{
  margin: 20px;
  font-size: 15px;
  color : black;

}
